body {
  background-color: #2c2c7329;
}

header {
  width: 99.8%;
  text-align: center;
}

.button {
  width: 33.2%;
  float: left;
  padding: 12px 0px;
}

.cen {
  text-align: center;
}

.button:hover {
  background-color: rgba(89, 80, 142, 0.15);
  cursor: pointer;
}

.border-right {
  border-right: black solid 1px;
}

.none-border-right {
  border-right: #2c2c7329 solid 1px;
}

.longLine {
  width: 100%;
}

.title {
  text-align: center;
  font-size: 2.25rem;
  margin-bottom: 10px
}

.bigBox {
  width: 100%;
  justify-content: center;
  display: flex;
  padding-top: 15px;
}

.smallBox {
  width: 40%;
  justify-content: center;
  display: flex;
}

.label {
  margin-right: 10px
}

.forInput {
  width: 165px;
}

#changeText {
  border: none;
  font-size: 1.5rem;
  background-color: inherit;
}

#changeText:hover {
  cursor: pointer;
  text-decoration: underline;
}

.smallLine {
  width: 35%
}

table td {
  border: black solid 1px;
  border-collapse: collapse;
}

table {
  border-collapse: collapse;
  text-align: center;
}

td {
  padding: 5px 10px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.w-100 {
  width: 100%;
}

.forLink {
  color: black;
  text-decoration: none;
}

.addH:hover {
  text-decoration: underline;
}

.mt-25 {
  margin-top: 25px;
}